In [ ]:
# installing pandas

In [9]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\thora\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\thora\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\thora\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\thora\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\thora\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
# importing pandas module

In [10]:
import pandas as pd

Data Cleaning
null values(replace remove)empty values
incorrect values
duplicate values

In [ ]:
# It is use to read this file.

In [15]:
df = pd.read_csv("C:\\Users\\thora\\Documents\\dirtydata.csv")

In [ ]:
#  It Returns the header row and the first 10 rows, or the specified number of rows

In [16]:
df.head()

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'  110.0       130     409.1
1        60  '2020/12/02'  117.0       145     479.0
2        60  '2020/12/03'  103.0       135     340.0
3        45  '2020/12/04'  109.0       175     282.4
4        45  '2020/12/05'  117.0       148     406.0

In [17]:
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'  110.0       130     409.1
1         60  '2020/12/02'  117.0       145     479.0
2         60  '2020/12/03'  103.0       135     340.0
3         45  '2020/12/04'  109.0       175     282.4
4         45  '2020/12/05'  117.0       148     406.0
5         60  '2020/12/06'  102.0       127     300.0
6         60  '2020/12/07'  110.0       136     374.0
7        450  '2020/12/08'  104.0       134     253.3
8         30  '2020/12/09'  109.0       133     195.1
9         60  '2020/12/10'   98.0       124     269.0
10        60  '2020/12/11'  103.0       147     329.3
11        60  '2020/12/12'  100.0       120     250.7
12        60  '2020/12/12'  100.0       120     250.7
13        60  '2020/12/13'    NaN       128     345.3
14        60  '2020/12/14'  104.0       132     379.3
15        60  '2020/12/15'   98.0       123     275.0
16        60  '2020/12/16'   98.0       120     215.2
17        60  '2020/12/17'  100.0       120     300.0
18        45  '2020/12/18'   90.0       112       NaN
19        60  '2020/12/19'  103.0       123     323.0
20        45  '2020/12/20'   97.0       125     243.0
21        60  '2020/12/21'  108.0       131     364.2
22        45           NaN  100.0       119     282.0
23        60  '2020/12/23'  130.0       101     300.0
24        45  '2020/12/24'  105.0       132     246.0
25        60  '2020/12/25'  102.0       126     334.5
26        60      20201226  100.0       120     250.0
27        60  '2020/12/27'   92.0       118     241.0
28        60  '2020/12/28'  103.0       132       NaN
29        60  '2020/12/29'  100.0       132     280.0
30        60  '2020/12/30'  102.0       129     380.3
31        60  '2020/12/31'   92.0       115     243.0

In [18]:
df1 = df.dropna()

In [19]:
df1

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'  110.0       130     409.1
1         60  '2020/12/02'  117.0       145     479.0
2         60  '2020/12/03'  103.0       135     340.0
3         45  '2020/12/04'  109.0       175     282.4
4         45  '2020/12/05'  117.0       148     406.0
5         60  '2020/12/06'  102.0       127     300.0
6         60  '2020/12/07'  110.0       136     374.0
7        450  '2020/12/08'  104.0       134     253.3
8         30  '2020/12/09'  109.0       133     195.1
9         60  '2020/12/10'   98.0       124     269.0
10        60  '2020/12/11'  103.0       147     329.3
11        60  '2020/12/12'  100.0       120     250.7
12        60  '2020/12/12'  100.0       120     250.7
14        60  '2020/12/14'  104.0       132     379.3
15        60  '2020/12/15'   98.0       123     275.0
16        60  '2020/12/16'   98.0       120     215.2
17        60  '2020/12/17'  100.0       120     300.0
19        60  '2020/12/19'  103.0       123     323.0
20        45  '2020/12/20'   97.0       125     243.0
21        60  '2020/12/21'  108.0       131     364.2
23        60  '2020/12/23'  130.0       101     300.0
24        45  '2020/12/24'  105.0       132     246.0
25        60  '2020/12/25'  102.0       126     334.5
26        60      20201226  100.0       120     250.0
27        60  '2020/12/27'   92.0       118     241.0
29        60  '2020/12/29'  100.0       132     280.0
30        60  '2020/12/30'  102.0       129     380.3
31        60  '2020/12/31'   92.0       115     243.0

In [20]:
df.fillna(123)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'  110.0       130     409.1
1         60  '2020/12/02'  117.0       145     479.0
2         60  '2020/12/03'  103.0       135     340.0
3         45  '2020/12/04'  109.0       175     282.4
4         45  '2020/12/05'  117.0       148     406.0
5         60  '2020/12/06'  102.0       127     300.0
6         60  '2020/12/07'  110.0       136     374.0
7        450  '2020/12/08'  104.0       134     253.3
8         30  '2020/12/09'  109.0       133     195.1
9         60  '2020/12/10'   98.0       124     269.0
10        60  '2020/12/11'  103.0       147     329.3
11        60  '2020/12/12'  100.0       120     250.7
12        60  '2020/12/12'  100.0       120     250.7
13        60  '2020/12/13'  123.0       128     345.3
14        60  '2020/12/14'  104.0       132     379.3
15        60  '2020/12/15'   98.0       123     275.0
16        60  '2020/12/16'   98.0       120     215.2
17        60  '2020/12/17'  100.0       120     300.0
18        45  '2020/12/18'   90.0       112     123.0
19        60  '2020/12/19'  103.0       123     323.0
20        45  '2020/12/20'   97.0       125     243.0
21        60  '2020/12/21'  108.0       131     364.2
22        45           123  100.0       119     282.0
23        60  '2020/12/23'  130.0       101     300.0
24        45  '2020/12/24'  105.0       132     246.0
25        60  '2020/12/25'  102.0       126     334.5
26        60      20201226  100.0       120     250.0
27        60  '2020/12/27'   92.0       118     241.0
28        60  '2020/12/28'  103.0       132     123.0
29        60  '2020/12/29'  100.0       132     280.0
30        60  '2020/12/30'  102.0       129     380.3
31        60  '2020/12/31'   92.0       115     243.0

In [21]:
df['Date'].fillna(4545)

0     '2020/12/01'
1     '2020/12/02'
2     '2020/12/03'
3     '2020/12/04'
4     '2020/12/05'
5     '2020/12/06'
6     '2020/12/07'
7     '2020/12/08'
8     '2020/12/09'
9     '2020/12/10'
10    '2020/12/11'
11    '2020/12/12'
12    '2020/12/12'
13    '2020/12/13'
14    '2020/12/14'
15    '2020/12/15'
16    '2020/12/16'
17    '2020/12/17'
18    '2020/12/18'
19    '2020/12/19'
20    '2020/12/20'
21    '2020/12/21'
22            4545
23    '2020/12/23'
24    '2020/12/24'
25    '2020/12/25'
26        20201226
27    '2020/12/27'
28    '2020/12/28'
29    '2020/12/29'
30    '2020/12/30'
31    '2020/12/31'
Name: Date, dtype: object

In [22]:
df.describe()

         Duration       Pulse    Maxpulse    Calories
count   32.000000   31.000000   32.000000   30.000000
mean    68.437500  103.419355  128.500000  304.680000
std     70.039591    7.948896   12.998759   66.003779
min     30.000000   90.000000  101.000000  195.100000
25%     60.000000  100.000000  120.000000  250.700000
50%     60.000000  102.000000  127.500000  291.200000
75%     60.000000  106.500000  132.250000  343.975000
max    450.000000  130.000000  175.000000  479.000000

In [23]:
df['Calories']

0     409.1
1     479.0
2     340.0
3     282.4
4     406.0
5     300.0
6     374.0
7     253.3
8     195.1
9     269.0
10    329.3
11    250.7
12    250.7
13    345.3
14    379.3
15    275.0
16    215.2
17    300.0
18      NaN
19    323.0
20    243.0
21    364.2
22    282.0
23    300.0
24    246.0
25    334.5
26    250.0
27    241.0
28      NaN
29    280.0
30    380.3
31    243.0
Name: Calories, dtype: float64

In [24]:
df['Calories'].mean()

304.68

In [ ]:
# Return the mean of the values in the specified axis

In [25]:
cal_mean = df['Calories'].mean()

In [26]:
df['Calories'].fillna(cal_mean)

0     409.10
1     479.00
2     340.00
3     282.40
4     406.00
5     300.00
6     374.00
7     253.30
8     195.10
9     269.00
10    329.30
11    250.70
12    250.70
13    345.30
14    379.30
15    275.00
16    215.20
17    300.00
18    304.68
19    323.00
20    243.00
21    364.20
22    282.00
23    300.00
24    246.00
25    334.50
26    250.00
27    241.00
28    304.68
29    280.00
30    380.30
31    243.00
Name: Calories, dtype: float64

In [ ]:
# Return the median of the values in the specified axis

In [27]:
cal_median = df['Calories'].median()

In [28]:
cal_median

291.2

In [ ]:
# Return the mode of the values in the specified axis

In [29]:
cal_mode = df['Calories'].mode()

In [30]:
cal_mode

0    300.0
Name: Calories, dtype: float64

In [31]:
import numpy as np

 a = np.array([40,50,40],count=40)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     31 non-null     float64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.4+ KB

In [33]:
df['Date']= pd.to_datetime(df['Date'])

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     datetime64[ns]
 2   Pulse     31 non-null     float64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: datetime64[ns](1), float64(2), int64(2)
memory usage: 1.4 KB

In [35]:
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01  110.0       130     409.1
1         60 2020-12-02  117.0       145     479.0
2         60 2020-12-03  103.0       135     340.0
3         45 2020-12-04  109.0       175     282.4
4         45 2020-12-05  117.0       148     406.0
5         60 2020-12-06  102.0       127     300.0
6         60 2020-12-07  110.0       136     374.0
7        450 2020-12-08  104.0       134     253.3
8         30 2020-12-09  109.0       133     195.1
9         60 2020-12-10   98.0       124     269.0
10        60 2020-12-11  103.0       147     329.3
11        60 2020-12-12  100.0       120     250.7
12        60 2020-12-12  100.0       120     250.7
13        60 2020-12-13    NaN       128     345.3
14        60 2020-12-14  104.0       132     379.3
15        60 2020-12-15   98.0       123     275.0
16        60 2020-12-16   98.0       120     215.2
17        60 2020-12-17  100.0       120     300.0
18        45 2020-12-18   90.0       112       NaN
19        60 2020-12-19  103.0       123     323.0
20        45 2020-12-20   97.0       125     243.0
21        60 2020-12-21  108.0       131     364.2
22        45        NaT  100.0       119     282.0
23        60 2020-12-23  130.0       101     300.0
24        45 2020-12-24  105.0       132     246.0
25        60 2020-12-25  102.0       126     334.5
26        60 2020-12-26  100.0       120     250.0
27        60 2020-12-27   92.0       118     241.0
28        60 2020-12-28  103.0       132       NaN
29        60 2020-12-29  100.0       132     280.0
30        60 2020-12-30  102.0       129     380.3
31        60 2020-12-31   92.0       115     243.0

In [ ]:
#  It will be Returns True for duplicated rows, otherwise False

In [36]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [ ]:
# Drops duplicate values from the DataFrame

In [37]:
df.drop_duplicates(inplace = True)

In [38]:
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01  110.0       130     409.1
1         60 2020-12-02  117.0       145     479.0
2         60 2020-12-03  103.0       135     340.0
3         45 2020-12-04  109.0       175     282.4
4         45 2020-12-05  117.0       148     406.0
5         60 2020-12-06  102.0       127     300.0
6         60 2020-12-07  110.0       136     374.0
7        450 2020-12-08  104.0       134     253.3
8         30 2020-12-09  109.0       133     195.1
9         60 2020-12-10   98.0       124     269.0
10        60 2020-12-11  103.0       147     329.3
11        60 2020-12-12  100.0       120     250.7
13        60 2020-12-13    NaN       128     345.3
14        60 2020-12-14  104.0       132     379.3
15        60 2020-12-15   98.0       123     275.0
16        60 2020-12-16   98.0       120     215.2
17        60 2020-12-17  100.0       120     300.0
18        45 2020-12-18   90.0       112       NaN
19        60 2020-12-19  103.0       123     323.0
20        45 2020-12-20   97.0       125     243.0
21        60 2020-12-21  108.0       131     364.2
22        45        NaT  100.0       119     282.0
23        60 2020-12-23  130.0       101     300.0
24        45 2020-12-24  105.0       132     246.0
25        60 2020-12-25  102.0       126     334.5
26        60 2020-12-26  100.0       120     250.0
27        60 2020-12-27   92.0       118     241.0
28        60 2020-12-28  103.0       132       NaN
29        60 2020-12-29  100.0       132     280.0
30        60 2020-12-30  102.0       129     380.3
31        60 2020-12-31   92.0       115     243.0

In [ ]:
# Get or set the value of a group of elements specified using their labels

In [39]:
df.loc[3]

Duration                     45
Date        2020-12-04 00:00:00
Pulse                     109.0
Maxpulse                    175
Calories                  282.4
Name: 3, dtype: object

In [ ]:
# Get or set the values of a group of elements in the specified positions

In [40]:
df.iloc[1:3]

   Duration       Date  Pulse  Maxpulse  Calories
1        60 2020-12-02  117.0       145     479.0
2        60 2020-12-03  103.0       135     340.0

In [41]:
df.loc[7,'Duration']

450

In [42]:
df.replace(60,120)

    Duration       Date  Pulse  Maxpulse  Calories
0        120 2020-12-01  110.0       130     409.1
1        120 2020-12-02  117.0       145     479.0
2        120 2020-12-03  103.0       135     340.0
3         45 2020-12-04  109.0       175     282.4
4         45 2020-12-05  117.0       148     406.0
5        120 2020-12-06  102.0       127     300.0
6        120 2020-12-07  110.0       136     374.0
7        450 2020-12-08  104.0       134     253.3
8         30 2020-12-09  109.0       133     195.1
9        120 2020-12-10   98.0       124     269.0
10       120 2020-12-11  103.0       147     329.3
11       120 2020-12-12  100.0       120     250.7
13       120 2020-12-13    NaN       128     345.3
14       120 2020-12-14  104.0       132     379.3
15       120 2020-12-15   98.0       123     275.0
16       120 2020-12-16   98.0       120     215.2
17       120 2020-12-17  100.0       120     300.0
18        45 2020-12-18   90.0       112       NaN
19       120 2020-12-19  103.0       123     323.0
20        45 2020-12-20   97.0       125     243.0
21       120 2020-12-21  108.0       131     364.2
22        45        NaT  100.0       119     282.0
23       120 2020-12-23  130.0       101     300.0
24        45 2020-12-24  105.0       132     246.0
25       120 2020-12-25  102.0       126     334.5
26       120 2020-12-26  100.0       120     250.0
27       120 2020-12-27   92.0       118     241.0
28       120 2020-12-28  103.0       132       NaN
29       120 2020-12-29  100.0       132     280.0
30       120 2020-12-30  102.0       129     380.3
31       120 2020-12-31   92.0       115     243.0

In [43]:
df['Duration'].replace(120,60)

0      60
1      60
2      60
3      45
4      45
5      60
6      60
7     450
8      30
9      60
10     60
11     60
13     60
14     60
15     60
16     60
17     60
18     45
19     60
20     45
21     60
22     45
23     60
24     45
25     60
26     60
27     60
28     60
29     60
30     60
31     60
Name: Duration, dtype: int64

In [44]:
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01  110.0       130     409.1
1         60 2020-12-02  117.0       145     479.0
2         60 2020-12-03  103.0       135     340.0
3         45 2020-12-04  109.0       175     282.4
4         45 2020-12-05  117.0       148     406.0
5         60 2020-12-06  102.0       127     300.0
6         60 2020-12-07  110.0       136     374.0
7        450 2020-12-08  104.0       134     253.3
8         30 2020-12-09  109.0       133     195.1
9         60 2020-12-10   98.0       124     269.0
10        60 2020-12-11  103.0       147     329.3
11        60 2020-12-12  100.0       120     250.7
13        60 2020-12-13    NaN       128     345.3
14        60 2020-12-14  104.0       132     379.3
15        60 2020-12-15   98.0       123     275.0
16        60 2020-12-16   98.0       120     215.2
17        60 2020-12-17  100.0       120     300.0
18        45 2020-12-18   90.0       112       NaN
19        60 2020-12-19  103.0       123     323.0
20        45 2020-12-20   97.0       125     243.0
21        60 2020-12-21  108.0       131     364.2
22        45        NaT  100.0       119     282.0
23        60 2020-12-23  130.0       101     300.0
24        45 2020-12-24  105.0       132     246.0
25        60 2020-12-25  102.0       126     334.5
26        60 2020-12-26  100.0       120     250.0
27        60 2020-12-27   92.0       118     241.0
28        60 2020-12-28  103.0       132       NaN
29        60 2020-12-29  100.0       132     280.0
30        60 2020-12-30  102.0       129     380.3
31        60 2020-12-31   92.0       115     243.0

In [45]:
df.dropna(inplace = True)

In [46]:
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01  110.0       130     409.1
1         60 2020-12-02  117.0       145     479.0
2         60 2020-12-03  103.0       135     340.0
3         45 2020-12-04  109.0       175     282.4
4         45 2020-12-05  117.0       148     406.0
5         60 2020-12-06  102.0       127     300.0
6         60 2020-12-07  110.0       136     374.0
7        450 2020-12-08  104.0       134     253.3
8         30 2020-12-09  109.0       133     195.1
9         60 2020-12-10   98.0       124     269.0
10        60 2020-12-11  103.0       147     329.3
11        60 2020-12-12  100.0       120     250.7
14        60 2020-12-14  104.0       132     379.3
15        60 2020-12-15   98.0       123     275.0
16        60 2020-12-16   98.0       120     215.2
17        60 2020-12-17  100.0       120     300.0
19        60 2020-12-19  103.0       123     323.0
20        45 2020-12-20   97.0       125     243.0
21        60 2020-12-21  108.0       131     364.2
23        60 2020-12-23  130.0       101     300.0
24        45 2020-12-24  105.0       132     246.0
25        60 2020-12-25  102.0       126     334.5
26        60 2020-12-26  100.0       120     250.0
27        60 2020-12-27   92.0       118     241.0
29        60 2020-12-29  100.0       132     280.0
30        60 2020-12-30  102.0       129     380.3
31        60 2020-12-31   92.0       115     243.0

In [ ]:
# Reset the index

In [47]:
df1 = df.reset_index()

In [48]:
df1

    index  Duration       Date  Pulse  Maxpulse  Calories
0       0        60 2020-12-01  110.0       130     409.1
1       1        60 2020-12-02  117.0       145     479.0
2       2        60 2020-12-03  103.0       135     340.0
3       3        45 2020-12-04  109.0       175     282.4
4       4        45 2020-12-05  117.0       148     406.0
5       5        60 2020-12-06  102.0       127     300.0
6       6        60 2020-12-07  110.0       136     374.0
7       7       450 2020-12-08  104.0       134     253.3
8       8        30 2020-12-09  109.0       133     195.1
9       9        60 2020-12-10   98.0       124     269.0
10     10        60 2020-12-11  103.0       147     329.3
11     11        60 2020-12-12  100.0       120     250.7
12     14        60 2020-12-14  104.0       132     379.3
13     15        60 2020-12-15   98.0       123     275.0
14     16        60 2020-12-16   98.0       120     215.2
15     17        60 2020-12-17  100.0       120     300.0
16     19        60 2020-12-19  103.0       123     323.0
17     20        45 2020-12-20   97.0       125     243.0
18     21        60 2020-12-21  108.0       131     364.2
19     23        60 2020-12-23  130.0       101     300.0
20     24        45 2020-12-24  105.0       132     246.0
21     25        60 2020-12-25  102.0       126     334.5
22     26        60 2020-12-26  100.0       120     250.0
23     27        60 2020-12-27   92.0       118     241.0
24     29        60 2020-12-29  100.0       132     280.0
25     30        60 2020-12-30  102.0       129     380.3
26     31        60 2020-12-31   92.0       115     243.0

In [49]:
df1.drop(['index'],axis = 1)

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01  110.0       130     409.1
1         60 2020-12-02  117.0       145     479.0
2         60 2020-12-03  103.0       135     340.0
3         45 2020-12-04  109.0       175     282.4
4         45 2020-12-05  117.0       148     406.0
5         60 2020-12-06  102.0       127     300.0
6         60 2020-12-07  110.0       136     374.0
7        450 2020-12-08  104.0       134     253.3
8         30 2020-12-09  109.0       133     195.1
9         60 2020-12-10   98.0       124     269.0
10        60 2020-12-11  103.0       147     329.3
11        60 2020-12-12  100.0       120     250.7
12        60 2020-12-14  104.0       132     379.3
13        60 2020-12-15   98.0       123     275.0
14        60 2020-12-16   98.0       120     215.2
15        60 2020-12-17  100.0       120     300.0
16        60 2020-12-19  103.0       123     323.0
17        45 2020-12-20   97.0       125     243.0
18        60 2020-12-21  108.0       131     364.2
19        60 2020-12-23  130.0       101     300.0
20        45 2020-12-24  105.0       132     246.0
21        60 2020-12-25  102.0       126     334.5
22        60 2020-12-26  100.0       120     250.0
23        60 2020-12-27   92.0       118     241.0
24        60 2020-12-29  100.0       132     280.0
25        60 2020-12-30  102.0       129     380.3
26        60 2020-12-31   92.0       115     243.0

In [50]:
df1.drop(['index'],axis = 1,inplace = True)

In [51]:
df1

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01  110.0       130     409.1
1         60 2020-12-02  117.0       145     479.0
2         60 2020-12-03  103.0       135     340.0
3         45 2020-12-04  109.0       175     282.4
4         45 2020-12-05  117.0       148     406.0
5         60 2020-12-06  102.0       127     300.0
6         60 2020-12-07  110.0       136     374.0
7        450 2020-12-08  104.0       134     253.3
8         30 2020-12-09  109.0       133     195.1
9         60 2020-12-10   98.0       124     269.0
10        60 2020-12-11  103.0       147     329.3
11        60 2020-12-12  100.0       120     250.7
12        60 2020-12-14  104.0       132     379.3
13        60 2020-12-15   98.0       123     275.0
14        60 2020-12-16   98.0       120     215.2
15        60 2020-12-17  100.0       120     300.0
16        60 2020-12-19  103.0       123     323.0
17        45 2020-12-20   97.0       125     243.0
18        60 2020-12-21  108.0       131     364.2
19        60 2020-12-23  130.0       101     300.0
20        45 2020-12-24  105.0       132     246.0
21        60 2020-12-25  102.0       126     334.5
22        60 2020-12-26  100.0       120     250.0
23        60 2020-12-27   92.0       118     241.0
24        60 2020-12-29  100.0       132     280.0
25        60 2020-12-30  102.0       129     380.3
26        60 2020-12-31   92.0       115     243.0

In [52]:
df.to_numpy()

array([[60, Timestamp('2020-12-01 00:00:00'), 110.0, 130, 409.1],
       [60, Timestamp('2020-12-02 00:00:00'), 117.0, 145, 479.0],
       [60, Timestamp('2020-12-03 00:00:00'), 103.0, 135, 340.0],
       [45, Timestamp('2020-12-04 00:00:00'), 109.0, 175, 282.4],
       [45, Timestamp('2020-12-05 00:00:00'), 117.0, 148, 406.0],
       [60, Timestamp('2020-12-06 00:00:00'), 102.0, 127, 300.0],
       [60, Timestamp('2020-12-07 00:00:00'), 110.0, 136, 374.0],
       [450, Timestamp('2020-12-08 00:00:00'), 104.0, 134, 253.3],
       [30, Timestamp('2020-12-09 00:00:00'), 109.0, 133, 195.1],
       [60, Timestamp('2020-12-10 00:00:00'), 98.0, 124, 269.0],
       [60, Timestamp('2020-12-11 00:00:00'), 103.0, 147, 329.3],
       [60, Timestamp('2020-12-12 00:00:00'), 100.0, 120, 250.7],
       [60, Timestamp('2020-12-14 00:00:00'), 104.0, 132, 379.3],
       [60, Timestamp('2020-12-15 00:00:00'), 98.0, 123, 275.0],
       [60, Timestamp('2020-12-16 00:00:00'), 98.0, 120, 215.2],
       [60, Timestamp('2020-12-17 00:00:00'), 100.0, 120, 300.0],
       [60, Timestamp('2020-12-19 00:00:00'), 103.0, 123, 323.0],
       [45, Timestamp('2020-12-20 00:00:00'), 97.0, 125, 243.0],
       [60, Timestamp('2020-12-21 00:00:00'), 108.0, 131, 364.2],
       [60, Timestamp('2020-12-23 00:00:00'), 130.0, 101, 300.0],
       [45, Timestamp('2020-12-24 00:00:00'), 105.0, 132, 246.0],
       [60, Timestamp('2020-12-25 00:00:00'), 102.0, 126, 334.5],
       [60, Timestamp('2020-12-26 00:00:00'), 100.0, 120, 250.0],
       [60, Timestamp('2020-12-27 00:00:00'), 92.0, 118, 241.0],
       [60, Timestamp('2020-12-29 00:00:00'), 100.0, 132, 280.0],
       [60, Timestamp('2020-12-30 00:00:00'), 102.0, 129, 380.3],
       [60, Timestamp('2020-12-31 00:00:00'), 92.0, 115, 243.0]],
      dtype=object)

In [53]:
ar = df.to_numpy()

In [54]:
ar

array([[60, Timestamp('2020-12-01 00:00:00'), 110.0, 130, 409.1],
       [60, Timestamp('2020-12-02 00:00:00'), 117.0, 145, 479.0],
       [60, Timestamp('2020-12-03 00:00:00'), 103.0, 135, 340.0],
       [45, Timestamp('2020-12-04 00:00:00'), 109.0, 175, 282.4],
       [45, Timestamp('2020-12-05 00:00:00'), 117.0, 148, 406.0],
       [60, Timestamp('2020-12-06 00:00:00'), 102.0, 127, 300.0],
       [60, Timestamp('2020-12-07 00:00:00'), 110.0, 136, 374.0],
       [450, Timestamp('2020-12-08 00:00:00'), 104.0, 134, 253.3],
       [30, Timestamp('2020-12-09 00:00:00'), 109.0, 133, 195.1],
       [60, Timestamp('2020-12-10 00:00:00'), 98.0, 124, 269.0],
       [60, Timestamp('2020-12-11 00:00:00'), 103.0, 147, 329.3],
       [60, Timestamp('2020-12-12 00:00:00'), 100.0, 120, 250.7],
       [60, Timestamp('2020-12-14 00:00:00'), 104.0, 132, 379.3],
       [60, Timestamp('2020-12-15 00:00:00'), 98.0, 123, 275.0],
       [60, Timestamp('2020-12-16 00:00:00'), 98.0, 120, 215.2],
       [60, Timestamp('2020-12-17 00:00:00'), 100.0, 120, 300.0],
       [60, Timestamp('2020-12-19 00:00:00'), 103.0, 123, 323.0],
       [45, Timestamp('2020-12-20 00:00:00'), 97.0, 125, 243.0],
       [60, Timestamp('2020-12-21 00:00:00'), 108.0, 131, 364.2],
       [60, Timestamp('2020-12-23 00:00:00'), 130.0, 101, 300.0],
       [45, Timestamp('2020-12-24 00:00:00'), 105.0, 132, 246.0],
       [60, Timestamp('2020-12-25 00:00:00'), 102.0, 126, 334.5],
       [60, Timestamp('2020-12-26 00:00:00'), 100.0, 120, 250.0],
       [60, Timestamp('2020-12-27 00:00:00'), 92.0, 118, 241.0],
       [60, Timestamp('2020-12-29 00:00:00'), 100.0, 132, 280.0],
       [60, Timestamp('2020-12-30 00:00:00'), 102.0, 129, 380.3],
       [60, Timestamp('2020-12-31 00:00:00'), 92.0, 115, 243.0]],
      dtype=object)

In [55]:
df = pd.DataFrame(ar)

In [56]:
df

      0          1      2    3      4
0    60 2020-12-01  110.0  130  409.1
1    60 2020-12-02  117.0  145  479.0
2    60 2020-12-03  103.0  135  340.0
3    45 2020-12-04  109.0  175  282.4
4    45 2020-12-05  117.0  148  406.0
5    60 2020-12-06  102.0  127  300.0
6    60 2020-12-07  110.0  136  374.0
7   450 2020-12-08  104.0  134  253.3
8    30 2020-12-09  109.0  133  195.1
9    60 2020-12-10   98.0  124  269.0
10   60 2020-12-11  103.0  147  329.3
11   60 2020-12-12  100.0  120  250.7
12   60 2020-12-14  104.0  132  379.3
13   60 2020-12-15   98.0  123  275.0
14   60 2020-12-16   98.0  120  215.2
15   60 2020-12-17  100.0  120  300.0
16   60 2020-12-19  103.0  123  323.0
17   45 2020-12-20   97.0  125  243.0
18   60 2020-12-21  108.0  131  364.2
19   60 2020-12-23  130.0  101  300.0
20   45 2020-12-24  105.0  132  246.0
21   60 2020-12-25  102.0  126  334.5
22   60 2020-12-26  100.0  120  250.0
23   60 2020-12-27   92.0  118  241.0
24   60 2020-12-29  100.0  132  280.0
25   60 2020-12-30  102.0  129  380.3
26   60 2020-12-31   92.0  115  243.0

In [61]:
df = pd.DataFrame(ar, columns=["duration","time",'pulse','max pulse','calories'])
df

   duration       time  pulse max pulse calories
0        60 2020-12-01  110.0       130    409.1
1        60 2020-12-02  117.0       145    479.0
2        60 2020-12-03  103.0       135    340.0
3        45 2020-12-04  109.0       175    282.4
4        45 2020-12-05  117.0       148    406.0
5        60 2020-12-06  102.0       127    300.0
6        60 2020-12-07  110.0       136    374.0
7       450 2020-12-08  104.0       134    253.3
8        30 2020-12-09  109.0       133    195.1
9        60 2020-12-10   98.0       124    269.0
10       60 2020-12-11  103.0       147    329.3
11       60 2020-12-12  100.0       120    250.7
12       60 2020-12-14  104.0       132    379.3
13       60 2020-12-15   98.0       123    275.0
14       60 2020-12-16   98.0       120    215.2
15       60 2020-12-17  100.0       120    300.0
16       60 2020-12-19  103.0       123    323.0
17       45 2020-12-20   97.0       125    243.0
18       60 2020-12-21  108.0       131    364.2
19       60 2020-12-23  130.0       101    300.0
20       45 2020-12-24  105.0       132    246.0
21       60 2020-12-25  102.0       126    334.5
22       60 2020-12-26  100.0       120    250.0
23       60 2020-12-27   92.0       118    241.0
24       60 2020-12-29  100.0       132    280.0
25       60 2020-12-30  102.0       129    380.3
26       60 2020-12-31   92.0       115    243.0

In [62]:
df.columns

Index(['duration', 'time', 'pulse', 'max pulse', 'calories'], dtype='object')

In [63]:
col = df.columns

In [64]:
col

Index(['duration', 'time', 'pulse', 'max pulse', 'calories'], dtype='object')

In [65]:
df

   duration       time  pulse max pulse calories
0        60 2020-12-01  110.0       130    409.1
1        60 2020-12-02  117.0       145    479.0
2        60 2020-12-03  103.0       135    340.0
3        45 2020-12-04  109.0       175    282.4
4        45 2020-12-05  117.0       148    406.0
5        60 2020-12-06  102.0       127    300.0
6        60 2020-12-07  110.0       136    374.0
7       450 2020-12-08  104.0       134    253.3
8        30 2020-12-09  109.0       133    195.1
9        60 2020-12-10   98.0       124    269.0
10       60 2020-12-11  103.0       147    329.3
11       60 2020-12-12  100.0       120    250.7
12       60 2020-12-14  104.0       132    379.3
13       60 2020-12-15   98.0       123    275.0
14       60 2020-12-16   98.0       120    215.2
15       60 2020-12-17  100.0       120    300.0
16       60 2020-12-19  103.0       123    323.0
17       45 2020-12-20   97.0       125    243.0
18       60 2020-12-21  108.0       131    364.2
19       60 2020-12-23  130.0       101    300.0
20       45 2020-12-24  105.0       132    246.0
21       60 2020-12-25  102.0       126    334.5
22       60 2020-12-26  100.0       120    250.0
23       60 2020-12-27   92.0       118    241.0
24       60 2020-12-29  100.0       132    280.0
25       60 2020-12-30  102.0       129    380.3
26       60 2020-12-31   92.0       115    243.0

In [ ]:
# Update one DataFrame with the values from another DataFrame

In [66]:
df.to_csv("updated.csv")