In [ ]:
# installing numpy module

In [2]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\thora\anaconda3\lib\site-packages (1.21.5)

In [3]:
# importing numpy module

In [6]:
import numpy as np

In [7]:
a = [1,2,3,4,5]

In [8]:
type(a)

list

In [ ]:
# creating numpy array

In [9]:
a1 = np.array(a)

In [10]:
type(a1)

numpy.ndarray

In [11]:
a1

array([1, 2, 3, 4, 5])

In [ ]:
# This is use to check dimension of an array.

In [12]:
a1.ndim

1

In [ ]:
#  This is use to check shape of  an array.

In [ ]:
# Shape: The number of elements along with each axis. It is from a tuple.

In [13]:
a1.shape

(5,)

In [14]:
a = np.array([[1,2,3],[4,5,6]])

In [ ]:
# This is use to check type of an array

In [15]:
type(a)

numpy.ndarray

In [16]:
a.ndim

2

In [17]:
a.shape

(2, 3)

In [ ]:
# This is use to check type of array.

In [18]:
a.dtype

dtype('int32')

In [ ]:
#  numpy.ones(): This function is used to get a new array of given shape and type, filled with ones(1).

In [19]:
a = np.ones(5)

In [20]:
a

array([1., 1., 1., 1., 1.])

In [22]:
a = np.ones((3,4))
a

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [23]:
a = np.ones((2,3,4))
a

array([[[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]],

       [[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]]])

In [ ]:
#  numpy.zeros(): This function is used to get a new array of given shape and type, filled with zeros(0).

In [24]:
a = np.zeros((2,3,4))

In [25]:
a

array([[[0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.]],

       [[0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.]]])

In [26]:
a = np.ones(5,dtype = int)
a

array([1, 1, 1, 1, 1])

In [27]:
a = np.ones(5,dtype = bool)

In [28]:
a

array([ True,  True,  True,  True,  True])

In [29]:
a = np.ones(5,dtype = float)

In [30]:
a

array([1., 1., 1., 1., 1.])

In [ ]:
#  numpy.empty(): This function create a new array of given shape and type, without initializing value.

In [ ]:
# Syntax: numpy.empty(shape, dtype=float, order=’C’)

In [31]:
np.empty((2,2))

array([[1.28056463e-311, 4.67296746e-307],
       [1.69121096e-306, 1.37961641e-306]])

In [32]:
a = np.array ([1,2,3,4,5,6,7,8,9,10])
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [ ]:
#  numpy.arange(): This is an inbuilt NumPy function that returns evenly spaced values within a given interval.

In [ ]:
# syntax: numpy.arange([start, ]stop, [step, ]dtype=None)

In [33]:
np.arange(12,200,5)

array([ 12,  17,  22,  27,  32,  37,  42,  47,  52,  57,  62,  67,  72,
        77,  82,  87,  92,  97, 102, 107, 112, 117, 122, 127, 132, 137,
       142, 147, 152, 157, 162, 167, 172, 177, 182, 187, 192, 197])

In [ ]:
#  numpy.linspace(): This function returns evenly spaced numbers over a specified between two limits.

In [ ]:
# Syntax: numpy.linspace(start, stop, num=50, endpoint=True, retstep=False, dtype=None, axis=0)

In [35]:
np.linspace(1,10,15)

array([ 1.        ,  1.64285714,  2.28571429,  2.92857143,  3.57142857,
        4.21428571,  4.85714286,  5.5       ,  6.14285714,  6.78571429,
        7.42857143,  8.07142857,  8.71428571,  9.35714286, 10.        ])

In [38]:
a2 = np.arange(1,16)
a2

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [39]:
len(a2)

15

In [ ]:
# Change the shape of an array without changing its data.

In [44]:
a2.reshape(3,5)

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

In [45]:
a2.reshape(5,3)

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [13, 14, 15]])

In [46]:
a2.reshape(15,1)

array([[ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10],
       [11],
       [12],
       [13],
       [14],
       [15]])

In [47]:
a2.reshape(1,15)

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15]])

In [48]:
a3 = np.arange(1,25).reshape(6,4)

In [49]:
a3

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16],
       [17, 18, 19, 20],
       [21, 22, 23, 24]])

In [50]:
a3 = np.arange(1,25).reshape(8,3)

In [51]:
a3

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [13, 14, 15],
       [16, 17, 18],
       [19, 20, 21],
       [22, 23, 24]])

In [53]:
a3 = np.arange(1,25)
a3

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

In [54]:
a3.reshape(2,4,3)

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18],
        [19, 20, 21],
        [22, 23, 24]]])

In [55]:
a3 = np.arange(1,25).reshape(2,4,6)
a3

ValueError: cannot reshape array of size 24 into shape (2,4,6)

In [58]:
a3.reshape(1,-1)

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20, 21, 22, 23, 24]])

In [59]:
a3.reshape(-1,1)

array([[ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10],
       [11],
       [12],
       [13],
       [14],
       [15],
       [16],
       [17],
       [18],
       [19],
       [20],
       [21],
       [22],
       [23],
       [24]])

In [56]:
a3.ravel()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

In [60]:
a3.flatten(order='F')

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

In [62]:
a3.flatten(order='c')

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

In [ ]:
# Return a copy of the array collapsed into one dimension.

In [63]:
a3.flatten()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

In [64]:
a4 = np.arange(1,16).reshape(3,5)
a4

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

In [ ]:
# It Turns rows into columns and columns into rows

In [65]:
a4.transpose()

array([[ 1,  6, 11],
       [ 2,  7, 12],
       [ 3,  8, 13],
       [ 4,  9, 14],
       [ 5, 10, 15]])

In [66]:
a4 = np.arange(1,16).reshape(5,3)
a4

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [13, 14, 15]])

In [ ]:
# Reverse or permute the axes of an array; returns the modified array.

# For an array a with two axes, transpose(a) gives the matrix transpose.

In [67]:
a4.transpose()

array([[ 1,  4,  7, 10, 13],
       [ 2,  5,  8, 11, 14],
       [ 3,  6,  9, 12, 15]])

In [ ]:
6. Write a NumPy program to reverse an array (first element becomes last). Go to the editor
Original array:
[12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37]
Reverse array:
[37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12]

In [7]:
a = np.arange(12,38)

In [8]:
a

array([12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28,
       29, 30, 31, 32, 33, 34, 35, 36, 37])

In [9]:
a[::-1]

array([37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21,
       20, 19, 18, 17, 16, 15, 14, 13, 12])

In [ ]:
7. Write a NumPy program to convert an array to a float type. Go to the editor
Sample output:
Original array
[1, 2, 3, 4]
Array converted to a float type:
[ 1. 2. 3. 4.]